
.navbar{
    width: 100%;
    margin: auto;
    height: 50px;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    display: flex;
    border: 3px solid gray;
    justify-content: space-around;
    font-size: 18px;
   align-items: center;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
p{
    cursor: pointer;
    /* font-weight: bold; */
}
.cart {
    display: flex;
    background-image: url("../../public/cart.svg");
    background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  text-align: center;
justify-content: center;  
align-items: center;
 padding-bottom: 5px;
  background-position: center;
}


@media (min-width: 481px) and (max-width:780px) {

}

@media (max-width:480px) {
.navbar {
  font-size: 15px;
}
.cart{
  width: 50px;
}
}